<div class="headerPage">
    <div>
        <h1 class="logo-text">LOGO</h1>
    </div>
    <div class="navBar">
        <ul style="display: flex; gap: 2.5rem; margin-left: 1rem;">
            <li><a href="/" style="padding: 0.5rem 1.2rem; font-size:1.3rem; font-weight:600;">Home</a></li>
            <li><a href="/ranking" style="padding: 0.5rem 1.2rem; font-size:1.3rem; font-weight:600;">Ranking</a></li>
            <li><a href="/comment" style="padding: 0.5rem 1.2rem; font-size:1.3rem; font-weight:600;">Comment</a></li>
        </ul>
    </div>
</div>