<div class="headerPage">
    <div><h1>LOGO</h1></div>
    <div class="navBar">
        <ul><h4>
            <li><a href="/">Home</a></li>
            <li><a>rangking</a></li>
            <li><a>comment</a></li>
            <li><a>don't Touch me</a></li>
        </h4></ul>
    </div>
</div>