<div class="headerPage">
    <div><h1>LOGO</h1></div>
    <div class="navBar">
        <ul><h4>
            <li><a href="/">Home</a></li>
            <li><a href="/ranking">ranking</a></li>
            <li><a href="/comment">comment</a></li>
        </h4></ul>
    </div>
</div>