<!DOCTYPE html>
<html>
    <head>
        <title>Dong-a Games</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" href="/css/cho2.css">
    </head>
    <body>


        <div id="header">
            <div class="logo"><h1>LOGO</h1></div>
            <div class="manu">
                <h6><ul>
                    <li><a href="/">games</a></li>
                    <li>ranking</li>
                    <li>info</li>
                </ul></h6>
                <div class="acount">display1</div>
            </div>
        </div>


        <div id="base">
            <div></div>
            <div class="main">
                <div class="game">
                    <div class="gameName"><h6>Game1</h6></div>
                    <div class="gameEx">this is funny game</div>
                </div>
                <div class="game">
                    <div class="gameName"><h6>Game2</h6></div>
                    <div class="gameEx">this is fuckin game</div>
                </div>
            </div>
            <div class="rightBlank"></div>
        </div>



        <div id="footer"></div>
    </body>
</html>