<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
    <link href="/css/headerStyle.css" rel="stylesheet">
    <link href="/css/mainPage.css" rel="stylesheet">
</head>
<body>
    <%- include("header.ejs") %>

    <div class="mainPage">
        <div></div>
        <div class="selectMode">
            <div class="humanTurn">
                <div class="turnTitle">사람차례</div>
                <div class="turnContent">
                    <p>로렘로렘로렘 입슘슘 슘슘입 로렘입슘램램</p>
                    <p>로렘로렘 입슘 로렘</p>
                    <a href="/selKey/human"><button type="button" class="btn btn-outline-info">시작하기</button></a>
                </div>
            </div>
            <div class="AITurn">
                <div class="turnTitle">인공지능차례</div>
                <div class="turnContent">
                    <p>로렘로렘로렘 입슘슘 슘슘입 로렘입슘램램</p>
                    <p>로렘로렘 입슘 로렘</p>
                    <button type="button" class="btn btn-outline-info" onclick="location.href='selKey/ai'">시작하기</button>
                </div>
            </div>
        </div>
        <div></div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq" crossorigin="anonymous"></script>
</body>
</html>