<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>키워드 선택</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/headerStyle.css" rel="stylesheet">
    <link href="/css/mainPage.css" rel="stylesheet">
    <link href="/css/select.css" rel="stylesheet">
</head>
<body>
    <%- include("header.ejs") %>
    <div class="mainPage">
        <div></div>
        <div class="selectKey">
            <% for(let i=0; i<data.keys.length; i++) { %>
                <a href="/game/<%= data.keys[i]._id %>">
                    <div class="key"><%= data.keys[i].keyName %></div>
                </a>
            <% } %>
        </div>
        <div></div>
    </div>
</body>
</html>