.headerPage {
    margin-top: 0.8cm;
    margin-left: 1.8cm;
    margin-right: 1.8cm;
}
.headerPage ul {
    border-bottom: 1px black solid;
    border-top: 2px #353535 groove;
    margin-top: 0.7cm;
    margin-left: auto;
    margin-right: auto;
    padding-top: 0.4cm;
    padding-bottom: 0.5cm;
    list-style-type: none;
    font-weight: bolder;
}
.headerPage a {
    font-weight: 500;
    text-decoration: none;
    color: black
}
.headerPage ul h4{
    display: flex;
}
.headerPage ul li {
    margin: auto;
}
.headerPage h1{
    font-weight: bolder;
}