.mainPage {
    display: grid;
    grid-template-columns: 1fr 4.6fr 1fr;
}

.selectMode {
    margin-top: 2cm;
    padding-top: 0.4cm;
    padding-bottom: 0.4cm;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: ghostwhite;
    border-radius: 0.34cm;
}

.AITurn {
    text-align: right;
    border-right: 1px black solid;
    padding-right: 0.3cm;
    margin-left: 1cm;
}

.humanTurn {
    padding-left: 0.3cm;
    margin-right: 1cm;
}

.turnTitle {
    font-size: x-large;
    font-weight: bolder;
    padding-top: 0.6cm;
    padding-bottom: 0.2cm;
    border-bottom: 1px grey solid;
}

.turnContent {
    font-size: large;
    font-weight: 400;
}

.btn-group {
    margin-top: 0.4cm;
}

.commentAdder {
    margin-top: 0.4cm;
    padding-bottom: 1cm;
    border-bottom: 1px solid grey;
}