html {
    font-size: x-large;
}

body {
    margin: 0cm;
}

#header {
    display: grid;
    grid-template-columns: 1fr 5fr;
    border-bottom: 0.3cm #3c6ebe solid;
    margin-bottom: 0.7cm;
}

.logo {
    text-align: center;
}

.manu {
    display: flex;
    justify-content: space-between;
}

.manu ul {
    display: flex;
    padding-left: 0ch;
}

.manu li {
    margin-right: 10%;
    list-style-type: none;
    font-size: x-large;
}

#base {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}

a {
    text-decoration: none;
    color: black;
}