.selectKey {
    display: grid;
    margin-top: 1.2cm;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    text-align: center;
}

.selectKey a{
    text-decoration: none;
    font-size: larger;
    color: black;
    font-weight: bold;
}

.key {
    margin:10%;
    margin-bottom: 0px;
    padding-top: 0.5cm;
    padding-bottom: 0.3cm;
    border-top: 1px black solid;
}

